{% extends "base.html" %}

{% block title %}Home Page{% endblock %}

{% block navbar %}
<ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="{{ url_for('create_user') }}">Create User</a>
	</li>
	<li class="nav-item">
		<a class="nav-link active" aria-current="page" href="{{ url_for('create_user') }}">Moderation</a>
	</li>
</ul>
{% endblock %}

{% block content %}
<div class="d-flex flex-row justify-content-center">
	<div class="w-25">
		<canvas id="doughnut"></canvas>
	</div>
	<div class="w-50">
		<canvas id="line"></canvas>
	</div>
</div>
<div class="d-flex justify-content-center">
	<table class="table" id="table" style="width:100%">
		<thead>
			<tr>
				<th scope="col">Location</th>
				<th scope="col">Status</th>
			</tr>
		</thead>
		<tbody>
		</tbody>
	</table>
</div>
<script type="module" src="{{ url_for('static', filename='line.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='doughnut.js') }}"></script>
<script type="module" src="{{ url_for('static', filename='table.js') }}"></script>
{% endblock %}